@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: 30px;
}

p{ letter-spacing: 2px; font-size: 15px; }

.section-btn {
  background: #B570FE;
  border: none;
  border-radius: 50px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 18px 32px;
  margin-top: 42px;
  text-transform: uppercase;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.section-btn:focus,
.section-btn:hover {
  background: #ffffff;
  color: #000000;
  box-shadow: 3px 4px rgba(215, 30, 201, 0.4);
}

a {
  color: #757557;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover, a:active, a:focus {
  color: #000000;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

.section-title {
  margin: 0;
  padding-bottom: 20px;
}

#service, #about, #work,
#contact, footer {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

#service, #work {
  text-align: center;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65px;
  height: 65px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #454545;
  border-top-color: #ffffff;
  animation: spinner .9s linear infinite;
}

@-webkit-@keyframes spinner {
  to {transform: rotate(360deg);}
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

/* INICIO */

#home {
  background: url('../images/5.jpg') 50% 0 repeat-y fixed;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -webkit-flex;
   display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
   align-items: center;
  height: 100vh;
  position: relative;
  text-align: right;
}

#home p{
  text-shadow: 2px 1px black;
  font-size: 25px;
  letter-spacing: 3px;
}

.home-thumb{
  padding-top: 300px;
}

/* SERVICIOS */

.servis{
    margin-left: 18%;
}

#service .section-title p{
  color: #353535;
  text-align: justify;
  margin-bottom: 40px;
}

#service .section-title h2{
  color: #353535;
  text-shadow: 0px 0px;
  margin-bottom: 40px;
}

.imgCards{
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

.service-thumb p{
  color: white;
  text-align: justify;
  text-shadow: .7px .4px black;
}

.service-thumb h4{
  color: white;
  text-shadow: 1px .5px black;
}

.service-thumb {
  background-image: linear-gradient(#B570FE,#B570FE,#89F3FF);
  border-radius: 8px;
  padding: 42px 22px;
  height: 520px;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

.service-thumb:hover {
  -webkit-transform:scale(1);transform:scale(1.05);
  transition: all .5s ease-in-out;
  background: #666666;
}

.service-thumb:hover .fa,
.service-thumb:hover h4 {
  color: #ffffff;
}

.service-thumb h4 {
  padding-bottom: 5px;
}

.service-thumb .fa {
  color: white;
  font-size: 62px;
  text-align: center;
}

/* INFORMACION */

#about {
  padding-top: 100px;
}

.about-image-thumb img {
  border-radius: 5px;
  margin-bottom: 22px;
}

.about-thumb {
  padding: 32px 12px;
}

.about-thumb p {
  padding: 2px 0;
  color: #353535;
}

.section-title h2{
  text-shadow: 1px .5px #D679FC;
  color: #353535;
  text-shadow: 0px 0px;
}

#Nayibe{
  border-radius: 50%;
  border: 8px solid #D679FC;
  max-height: 500px;
}

/* ANGELOLOGIA */

#work{
  background-image: url('../images/cabeza.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 150px;
}

#work p {
  color: white;
  text-align: justify;
  text-shadow: 1px .5px black;
}

#work h2 {
  color: white;
  text-shadow: 2px 1px #B570FE;
}

.cardsAngels{
  background: rgba(215, 32, 251, 0.3);
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 8px;
  height: 260px;
  transition: all .5s ease-in-out;
}

.cardsAngels p{
  text-shadow: 2px 1px black;
  text-align: justify;
}

.cardsAngels:hover{
  background: rgba(215, 32, 251);
}

/*--------------------------------------
  Contact section              
-----------------------------------------*/
small { color: white; font-size: 10px; }
label { color: #878787; font-size: 10px; }

.contact-info{
  padding-right: 5px;
  margin-top: 30px;
}

#contact h2{
  color: white;
  text-shadow: 1px .5px #B570FE;
}

#contact .form-control {
  border: none;
  color: white;
  border-bottom: 2px solid #f0f0f0;
  background: none;
  border-radius: 8px;
  box-shadow: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:focus {
  border-bottom-color: #999999;
}

#contact input {
  height: 55px;
}

#contact button#submit {
  background: #89F3FF;
  border: none;
  border-radius: 50px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  margin-top: 20px;
  padding: 10px;
}

#contact button#submit:hover  {
  background: #ffffff;
  color: #000000;
  box-shadow: 3px 4px rgba(215, 30, 201, 0.4);
}

#contact button#submit {
  background: #89F3FF;
  border: none;
  border-radius: 50px;
  color: black;
  height: 50px;
  margin-top: 24px;
}

#contact button#submit:hover {
  background: #7682cc;
  color: #ffffff;
}



/*---------------------------------------
  Footer section              
-----------------------------------------*/

footer {
  background: black;
  text-align: center;
}

#jhoemFooter{
  font-size: 12px;
  letter-spacing: 2px;
}

#Jhoem{
  font-family: 'Segoe Script';
}

footer a{
  text-decoration: none;
  color: white;
}

footer a:hover{
  color: #61D6FF;
}

/*---------------------------------------
  Social icon             
-----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  background: #ffffff;
  border-radius: 100%;
  color: #454545;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 0;
  margin: 0px 6px 10px 6px;
  margin-top: 30px;
}

.social-icon img { 
  width: 50px;
  margin-top: 30px;
  height: auto;
  margin-left: 20px;
  transition: all .5s ease-in-out;
}

.social-icon img:hover {
  transform: scale(1.2);
}

/*-------------------------------------------

PÁGINA ENVIADA

---------------------------------------------*/

#enviado{
  background: radial-gradient(transparent,black), url('../images/6.jpg');
  background-size: 100%;
  text-align: center;
  padding-top: 50px;
}

#enviado h1, h2, h3, h4, h5, h6, p{
  color: #E9E9E9
}

#logoEnviado{
  width: 100%;
  height: auto;
  max-width: 350px;
}

#enviado .social-icon img{
  width: 80px;
  height: auto;
  margin-left: 0px;
}

#btnRegresar a{
    color: #FFFF;
    text-decoration: none;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-radius: 8px;
    letter-spacing: 3px;
    background-color: rgba(71, 73, 255, 0.3);
    padding: 10px 30px;
    margin-left: 10px;
    margin-right: 10px;
    transition: all .5s ease-in-out;
}

#btnRegresar a:hover{
  background-color: rgba(71, 73, 255);
}

/*---------------------------------------
  Mobile Responsive styles              
-----------------------------------------*/

@media (max-width: 980px) {
  #home {
    height: 55vh;
  }

  #service{
    padding-left: 10px;
    padding-right: 10px;
  }

  #service p{
    margin-bottom: 0px;
  }

  #about{
    padding-left: 10px;
    padding-right: 10px;
  }

  #about img{
    margin-bottom: 0px;
    max-height: 450px;
  }

  #about p{
    text-align: justify;
  }

  #contact{
    padding-left: 10px;
    padding-right: 10px;
  }

 .service-thumb {
    margin-top: 12px;
    margin-bottom: 22px;
  }

  .contact-info {
    margin-top: 22px;
  }
}


@media (max-width: 768px) {
  #home {
    height: 85vh;
  }

  #work{
    background: url('../images/4.jpg');
    background-size: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  #work p{
    text-shadow: .5px .3px white;
  }

  .servis{
    margin-left: 0;
  }
}


@media (max-width: 580px) {

  h1 {
    font-size: 29px;
  }

  h2 {
    font-size: 23px;
  }

  #home {
    height: 95vh;
  }

  .contact-info {
    margin-top: 42px;
  }

  .service-thumb h4{
    margin-bottom: 5px;
  }

  .service-thumb p{
    font-size: 12px;
  }

  .service-thumb{
    background: linear-gradient(#B570FE,#89F3FF,#393939,#393939);
    height: auto;
  }

  .cardsAngels{
    height: auto;
  }
}


@media (max-width: 320px) {
  #home {
    height: 125vh;
  }
  .home-thumb{
  padding-top: 150px;
  }

  #work{
    background: url('../images/4.jpg');
  }

}
